<header th:fragment="header">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="/icon/headerIcon.png" class="me-2" style="height: 30px;" alt="icon">
                <img src="/icon/headerTitle.png" class="me-2" style="height: 30px;" alt="title">
                <span class="navbar-text text-black fw-bold">ADMIN</span>
            </a>
            <a th:href="@{/office/admin/logout}" class="text-dark text-decoration-none fw-bold">LOGOUT</a>
        </div>
    </nav>
</header>
