<div th:fragment="sidebar" class="sidebar">
    <ul>
        <li>
            <input type="radio" id="item1" name="menu" hidden>
            <label for="item1">신청정보</label>
        </li>
        <li>
            <input type="radio" id="item2" name="menu" hidden>
            <label for="item2">모임관리</label>
        </li>
        <li>
            <input type="radio" id="item3" name="menu" hidden>
            <label for="item3">정보관리</label>
        </li>
        <li>
            <input type="radio" id="item4" name="menu" hidden>
            <label for="item4">신고관리</label>
        </li>

    </ul>
</div>
